/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/30a4febd-fdb2-4e8d-9948-f3e63c602736.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
