# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

parameters:
    database_host: 127.0.0.1
    database_port: 8889
    database_name: eq9578
    database_user: root
    database_password: root
    mailer_transport: smtp
    mailer_host: ssl0.ovh.net
    mailer_port: 587
    mailer_user: patrick.balland@dushow.com
    mailer_password: soma-spade-augury-baroness
    mailer_delivery_addresses: pballand@me.com
    secret: ctsrac287722
    nb_per_page: 20
