{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "PBTransportBundle::layout.html.twig" %}

{% block body %}

  <h2>Ajouter un transport</h2>

  {{ include("PBTransportBundle:Transport:form.html.twig") }}

{% endblock %}
