{# src/OC/PlatformBundle/Resources/views/Transport/editAdresse.html.twig #}

{% extends "PBTransportBundle::layout.html.twig" %}

{% block pbtransport_body %}

    <h2>{{ titre }}</h2>

    {{ include("PBTransportBundle:Transport:form.html.twig") }}
    {% if boutonDel == true %}
        <a href="{{ path('pb_transport_deleteadresse', {'id': adresse.id}) }}" class="btn btn-danger" onclick="return confirm('ATTENTION : êtes vous certain de vouloir supprimer cette adresse ? Cette action est irrévocable.');">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer cette adresse
        </a>
    {% endif %}

{% endblock %}
