{# src/OC/PlatformBundle/Resources/views/Transport/editAdresse.html.twig #}

{% extends "PBTransportBundle::layout.html.twig" %}

{% block body %}

  <h2>Ajouter / Modifier une adresse</h2>

  {{ include("PBTransportBundle:Transport:form.html.twig") }}

{% endblock %}
