{# src/PB/TransportBundle/Resources/views/Transport/form.html.twig #}

{# Cette vue n'hérite de personne, elle sera incluse par d'autres vues qui,
   elles, hériteront probablement du layout. Je dis « probablement » car,
   ici pour cette vue, on n'en sait rien et c'est une info qui ne nous concerne pas. #}



<div class="well">
	{{ form(form) }}
</div>
